.App {
  box-sizing: border-box;
}

h1 {
  font-size: 30px;
}

.main-container {
  display: flex;
}

.container {
  height: 100%;
  display: flex;
  gap: 60px;
  max-width: 1256px;
  margin-bottom: auto;
  margin-right: auto;
  margin-top: 70px;
  margin-left: auto;
}

.image-showing {
  background-color: #f9f9f9;
  width: 50%;
}


.image-modification {
  width: 768px;
}

.data-information {
  width: 50%;
  margin-left: 30px;
}

.paragraph {
  font-size: 18px;
  color: #667085;
  font-weight: 300;
  line-height: 28px;

}

/* .show-more-button {
  display: block;
}*/

.more-paragraph { 
  display: block;
} 



@media screen and (max-width: 992px) {
  .container {
    margin-left: 20px;
    overflow: hidden;
  }

  .data-information {
    width: 60%;
    margin-left: 0;
  }

  .image-showing {
    display: flex;
    width: 40%;
  }

  .image-modification {
    width: 500px;
    margin-top: auto;

  }

  h1 {
    font-size: 26px;
  }



}

@media screen and (max-width:576px) {
  .container {
    flex-direction: column;
  }

  .data-information,
  .image-showing {
    width: 100%;
  }

  .paragraph {
    font-size: 15px;
  }

  h1 {
    font-size: 17px;
  }

  .show-more-button {
    color: red;
    font-size: 16px;
    display: block;
  }

  .more-paragraph {
    display: block;
  }

  .para {
    display: none;
  }



}