* {
  text-decoration: none;
}

.Navbar {
  background-color: #1e233a;
  padding: 1rem;
}

.navbar-logo {
  padding-left: 10px;
  padding-right: 10px;
}

.navdiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-link {
  color: white;
  font-weight: bold;
 

}



.header-sign-up-btn {
  padding: 1rem;
  background: linear-gradient(194.6deg, #FDE368, #DE9D2C);
  font-weight: 700;
  color: white;
  font-size: 14px;
  border-radius: 8px;
  margin-right: 15px;
}
.navbar-login-btn{
  color: #fff;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: .04px;
    line-height: 19px;
    text-align: center;
    background: none;
    border: none;
}
.navbar-button-wrapper{
  display: flex;
    gap: 30px;
    align-items: center;
    text-align: center;

}
.navbar-input-field{
 
  width: 30%;
  margin-left: auto;
  border-radius: 4px;
  margin-right: 30px;
  background-color: white;
  display: flex;
}
.navbar-input-sub-field{
  padding: 12px;
  width: 95%;
  margin-left: auto;
  border-radius: 4px;
  border: none;
}
.input-field-icon{
  background-color: #e1a132;
  padding: 1rem;
  text-align: center;
  color: white;
}
.navbar-input-sub-field::placeholder{
  color: black;
  font-weight: bold;
  letter-spacing: .04px;
    line-height: 20px;
    font-size: 16px;
}